{% extends 'base.html' %} 

{% block title %} Customer Registration {% endblock %} 

{% block content %} 
<style>
    .errorlist{
        color: red;
        list-style: none;
    }
</style>
<div class="container">
    <div class="row my-5">
        <div class="col-md-5 mx-auto py-5 my-5 shadow border-top border-bottom border-5 border-primary rounded">
            <h2 class="text-center">Customer Registration</h2>
            <form action="" method="POST">
                {% csrf_token %} 
                {{form.as_p}}
                <button class="btn btn-primary float-end" type="submit">Register as a Customer</button>
            </form>
            <p class="mt-5"> Already have an account?<a href="{% url 'fresh:customerlogin' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %} " class="text-decoration-none text-warning"> Login here</a> </p>
        </div>
    </div>
</div>
{% endblock %}