{% extends 'base.html' %}

{% block title %}Password Forgot {% endblock %}


{% block content %}
<style>
    .errorlist{
        list-style: none;
        color: brown;
    }
</style>
<div class="container">
    <div class="row my-5 ">
        <div class="col-md-6 col-lg-6 col-sm-12 mx-auto my-5 ">
            <h2 class="text-center my-5 text-warning">
                Reset Your Password
            </h2>
            <hr class="bg-warning">
            {% if request.GET.m == "s" %}
            <h3>Password reset link is sent to your email address. Please check your email immediately.</h3>
            {% else %}
            {% if request.GET.m == "e" %}
            <h4 class="text-danger">Something went wrong. Please enter your email again.</h4>
            {% endif %}
           
            <form action="" method="POST">
                {% csrf_token %}

                {{form.as_p}}
                <button class="btn btn-primary" style="float: right;">Reset Password</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}