{% extends 'base.html' %}
{% load markdown_extras %}
{% block title %} {{product.title}} {% endblock %}
<style>

</style>

{% block content %}
<div class="container">
    <h1 class="text-center">Our Recent and Popular Products Category</h1><hr>
    <section>
    <div class="row  my-5">
        <div class="col-md-6 ">
            <div>

                <img src="{{product.image.url}} " class="img-fluid animated d-block mx-auto position-relative" alt="{{product.title}}" height="350px" width="350px">
                
            </div>
            <div class="d-flex flex-row justify-content-center my-3">
                {% for pi in product.productimage_set.all %}
                <div class="m-3">
                    <a href="{{pi.image.url}} ">
                        <img src="{{pi.image.url}} " alt="" class="img-fluid d-inline" style="height: 100px; object-fit: contain;">
                    </a>
    
                </div>
                {% endfor %}
               

            </div>

            
            
        </div>
        <div class="col-md-6  ">
            <h2>{{product.title}} <a href="{% url 'fresh:save' product.slug %} " class="like"> <i class="fas fa-heart "></i> </a></h2>
            <small>{{product.view_count}} views</small>
            
            <hr>
            <p>Price:<strike class="text-danger">${{product.marked_price}} </strike> ${{product.selling_price}} </p>
            <a href="{% url 'fresh:addtocart' product.id %}"> <button class="btn btn-primary">Add To Cart</button></a>
            
            <hr>
            <p><span class="text-info">Description</span>: {{product.description|markdown|safe}} </p>

            
            
        </div>


    </div>
    </section>
</div>



{% endblock %}
