{% extends 'base.html' %}
{% load markdown_extras %}
{% load static %}
{% block title %} Our Services {% endblock %} 

{% block content %}

  <div class="container mb-5 mt-0 pt-0">
    <h1 class="text-center mt-0 pt-0">Our Services</h1>
    <hr class="col-md-6 mx-auto bg-warning" style="height: 5px;">
    
   
    {% for ab in service %}  
    <div class="d-flex {% if forloop.counter|divisibleby:2 %}flex-md-row-reverse {% else %}flex-md-row {% endif %} flex-sm-column flex-column bd-highlight">
      <div class="col-md-6  mx-auto my-3 text-center d-flex align-items-center">
        <div class="">
          
        {{ab.service|markdown|safe}}
        
        </div>
        
      </div>
      <div class="col-md-6  mx-auto my-3 ">
              <img class="img-fluid mx-auto d-block rounded-circle z-depth-2 shadow" src="{{ab.about_image.url}} " style="height: 400px; width:400px; float:center; border-style:circle;" alt="" title="image" >

        
      </div>
    </div>
    {% endfor %}
   
  </div>
{% endblock %}