{% extends "adminpages/adminbase.html" %}
{% load humanize %}
{% block title %}Admin Home{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <h3 class="text-center my-3 text-warning">Received Orders</h3>
            <hr class="bg-warning">
            <div class="table-responsive">
                <table class="table">
                <thead class="align-top">
                    <tr>
                        <th>SN</th>
                        <th>Order ID </th>
                        <th>Customer</th>
                        <th>Ordered On</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in pendingorders %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'fresh:adminorderdetail' order.pk %} ">#ORDER_{{order.id}}</a></td>
                        <td>{{order.ordered_by}}</td>
                        <td>{{order.created_at}}</td>
                        <td><strong class="">Rs.{{order.total|intcomma}}</strong> </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}