{% extends 'base.html' %}

{% block title %}Password Reset {% endblock %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-md-6 col-lg-6 col-sm-12 mx-auto ">
            <h2 class="text-center my-5 text-warning">Reset Your Password </h2>
            <hr class="bg-warning">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary" style="float: right;">Reset Your Password </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}